---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { HOME } from "@consts";
import { Image } from "astro:assets";
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <section class="">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <Image
          class="absolute top-32"
          src="/images/hero-me.png"
          alt="A bird."
          width="250"
          height="250"
        />
        <div class="relative mx-auto max-w-screen-sm text-center">
          <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl">
            404
          </h1>
          <p class="mb-4 text-3xl tracking-tight font-bold md:text-4xl">
            Something's missing.
          </p>
          <p class="mb-4 text-lg font-light">
            Sorry, we can't find that page. You'll find lots to explore on the
            home page.
          </p>
          <a
            href="/"
            class="inline-flex bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4"
            >Back to Homepage</a
          >
          <!-- <Image src={myImage} alt="A description of my image." /> -->
        </div>
      </div>
    </section>
  </Container>
</PageLayout>
